.field-type-extra-field-view {
  margin-top: 1em;
}

.admin-menu div#admin-toolbar.vertical {
  top: 32px;
}

.field-multiple-table tr td {
  position: relative;
}
.field-multiple-table .form-submit {
  position: absolute;
  right: 5px;
  top: 5px;
}

table input.fluid.form-autocomplete,
table input.fluid.form-text,
select.form-select,
input.form-text {
  width: 100%;
}
html.js input.throbbing {
  background-position: 100% 0;
}

.field-name-field-intrigue tbody .fluid.form-autocomplete {
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
}
.field-name-field-intrigue tbody .form-item label {
  float: right;
  width: 20px;
  text-align: center;
}

.form-type-checkboxes {
  overflow: hidden;
}
.form-type-checkboxes .form-type-checkbox {
  width: 25%;
  float: left;
}
#views-ajax-body .form-type-checkboxes .form-type-checkbox {
  float: none;
  width: auto;
}

#autocomplete {
  width: auto !important;
}

.form-type-date-select .form-type-select {
  margin-right: 5px;
}

.field-name-field-dates .fieldset .fieldset-content {
  padding-top: 0;
}
.field-name-field-dates .fieldset .fieldset-content .date-padding {
  padding-bottom: 0;
  padding-top: 0;
}

#edit-workflow .form-item-workflow-scheduled-date {
  float: left;
  overflow: hidden;
  width: 70%;
}
#edit-workflow .form-item-workflow-scheduled-date .form-type-select{
  float: left;
  width: 30%;
  margin-right: 10px;
}
#edit-workflow .form-item-workflow-scheduled-hour {
  width: 22%;
  float: left;
  margin-top: 9px;
}
#edit-workflow .form-item-workflow-comment {
  clear: left;
}

h2 {
  font-size: 18px;
  line-height: 27px;
  min-height: 27px;
}
h3 {
  font-size: 16px;
  line-height: 24px;
  min-height: 24px;
}
h4 {
  font-size: 14px;
  line-height: 21px;
  min-height: 21px;
}


/************************/
/* Specific : sequences */
/************************/

.field-name-field-nonplayers .field-type-entityreference {
  float: left;
  width: 45%;
  margin-right: 15px;
}

/**************************/
/* Specific : personnages */
/**************************/

.group-temperaments .field-type-taxonomy-term-reference {
  float: left;
  width: 18%;
  margin-right: 15px;
}
.group-canevas .field-name-field-species,
.group-canevas .field-name-field-nationalite,
.group-canevas .field-name-field-occupation,
.group-canevas .field-name-field-confession {
  float: left;
  width: 18%;
  margin-right: 15px;
}
.group-canevas .field-name-field-canevas {
  clear: left;
}
.group-avantages .field-name-field-pugilat,
.group-avantages .field-name-field-credit {
  float: left;
  width: 18%;
  margin-right: 15px;
}
.group-avantages .field-name-field-avantages {
  clear: both;
}
.field-name-field-avantages .field-name-field-avantage,
.field-name-field-avantages .field-name-field-avantage-valide{
  float: left;
  width: 45%;
  margin-right: 15px;
}
.field-name-field-avantages .field-name-field-avantage-valide {
  padding-top: 15px;
}

/**********************/
/* Specific : groupes */
/**********************/

.field-name-field-group-members .field-name-field-character,
.field-name-field-group-members .field-name-field-member-is-secret {
  float: left;
  width: 45%;
  margin-right: 15px;
}
.field-name-field-group-members .field-name-field-member-is-secret {
  padding-top: 15px;
}

/************************/
/* Specific : avantages */
/************************/

.field-name-field-value .form-text {
  width: 95%;
}

/*****************/
/* States colors */
/*****************/

.view table .state-en-discussion td,
.view table .state-en-discussion td.active,
.view table .state-en-discussion.even td,
.view table .state-en-discussion.even td.active{}
.view table .state-en-discussion:hover td,
.view table .state-en-discussion:hover td.active { background: #cce4ef; }

.view table .state-en-prepa-redaction td,
.view table .state-en-prepa-redaction td.active,
.view table .state-en-prepa-redaction.even td,
.view table .state-en-prepa-redaction.even td.active { background: #c8ff8b; }
.view table .state-en-prepa-redaction:hover td,
.view table .state-en-prepa-redaction:hover td.active { background: #78ef00; }

.view table .state-en-validation td,
.view table .state-en-validation td.active,
.view table .state-en-validation.even td,
.view table .state-en-validation.even td.active { background: #c8ff8b; }
.view table .state-en-validation:hover td,
.view table .state-en-validation:hover td.active { background: #78ef00; }

.view table .state-en-redaction td,
.view table .state-en-redaction td.active,
.view table .state-en-redaction.even td,
.view table .state-en-redaction.even td.active { background: #fdff80; }
.view table .state-en-redaction:hover td,
.view table .state-en-redaction:hover td.active { background: #faff00; }

.view table .state-en-relecture td,
.view table .state-en-relecture td.active,
.view table .state-en-relecture.even td,
.view table .state-en-relecture.even td.active { background: #ffc672; font-weight: bold; }
.view table .state-en-relecture:hover td,
.view table .state-en-relecture:hover td.active { background: #ff9f00; }

.view table .state-en-att-publication td,
.view table .state-en-att-publication td.active,
.view table .state-en-att-publication.even td,
.view table .state-en-att-publication.even td.active { background: #ffc672; font-weight: bold; }
.view table .state-en-att-publication:hover td,
.view table .state-en-att-publication:hover td.active { background: #ff9f00; }

.view table .state-publie td,
.view table .state-publie td.active,
.view table .state-publie.even td,
.view table .state-publie.even td.active { background: #ff9294; font-weight: bold; }
.view table .state-publie:hover td,
.view table .state-publie:hover td.active { background: #ff372a; }

/**********************/
/* Views per intrigue */
/**********************/

.cec-columns { overflow: hidden; padding: 1em; }
.cec-column { float: left; width: 50%; }
